
body {
    background: #4c88af;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #4c88af, #5499c6);
    background: -moz-linear-gradient(right, #4c88af, #5499c6);
    background: -o-linear-gradient(right, #4c88af, #5499c6);
    background: linear-gradient(to left, #4c88af, #5499c6);
    font-family:  "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	display: table-cell;
    vertical-align: middle;
}

.peidusNupp {
  visibility: hidden;
}

.peidusVorm {
  visibility: hidden;
}

.komm {
  background-color: yellow;
}
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}
textarea {
   resize: none;
}