p {
    font-size: 15px;
}

p#roheline {
    color: green;
}

p#peal {
    cursor:crosshair;
}

p#kesk {
    text-align: center;
    font-style: italic;
}

p#joonitud {
    text-decoration: underline;
}

p#tumerohelineTaust {
    background-color: #006400;
}

p#monoscape {
    font-family: monospace;
}

p#kollaneMust {
    background-color: yellow;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

p#ymar {
    border-style: dashed;
    border-radius: 7px;
    border-width: thin;
}

.suur {
    font-size: 30px;
}
